.App {
  text-align: center;
  margin: center;
  margin-top: 10%;
  font-size: calc(200px + 2vmin);
}

html {
  background-color: lightgrey;
}

/* .App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

.container {
  display: flex;
  justify-content: center;
}

#tambah {
  font-size: 100px;
  border: 10px solid red;
  margin-right: 10px;
  margin-top: 25px;
  box-sizing: content-box;
  width: 100px;
  height: 100px;
  padding: 1px;
}

#kurang {
  font-size: 100px;
  border: 10px solid red;
  margin-top: 25px;
  box-sizing: content-box;
  width: 100px;
  height: 100px;
  padding: 1px;
}

#judul {
  font-size: 50px;
  color: red;
}

#reset {
  font-size: 35px;
  text-align: center;
  padding: 1px;
  border: 10px solid red;
  margin-top: 25px;
  box-sizing: content-box;
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
